@use "../scss/variables.scss" as *;

.grid {
    background-color: $background-dark;
    min-height: 50vh;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;

    & > * {
        width: 100%;
        max-width: 20rem;
    }
}


@media screen and (width <= 768px) {
    .grid {
        flex-direction: row;
        justify-content: center;
        background-color: $grid-background-light;
        padding: 0;
    }
}