@use "../scss/variables.scss" as *;

.grid {
    background-color: $background-dark;
    margin: auto;
    max-width: 1240px;
    min-height: 50vh;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 50px 56px;
    justify-content: center;
    margin-bottom: 20px;

    /*& > * {
        width: 100%;
        max-width: 20rem;
    }
    */
}

@media screen and (width <= 1040px) {
    .grid {
        background-color: $grid-background-light;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
}
@media screen and (width <= 999px) {
    .grid {
        display: grid;
    }
    
}

@media screen and (width <= 768px) {
    .grid {
        flex-direction: column;
        justify-content: center;
        background-color: $grid-background-light;
        padding: 0;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
}