@use "../scss/variables.scss" as *;

.banner {
        position: relative;
        background-position: center;
        background-size: cover;
        margin-top: 163px;
        margin-left: 100px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('image1.png');
        height: 223px;
        margin: auto;
        border-radius: 25px;
        display: grid;
        place-items: center;
        color: $color-tertiary;
        margin-bottom: 43px;
        width: 100%;

        &::before {
            position: absolute;
            border-radius: 25px;
            content: "";
            inset: 0;
            opacity: 0.5;
        }
        
}

