.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 208px;
    min-height: 100px;
    display: grid;
}

.footer__container {
    padding-top: 66px;
}

.footer__text {
    padding-top: 29px;
}

.footer__logo {
    width: 122px;
    height: 39px;
}