@use "../scss/variables.scss" as *;

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: $color-primary;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 45px;
    width: 100%
}

.navbar a {
    text-decoration: none;
    color: $color-primary;
}
/*
.navbar a:hover {
    text-decoration: underline;
}*/

.navbar__logo {
    margin-right: auto;
    width: 210px;
    height: 68px;
}