.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #FF6060;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 45px;
    width: 100%
}

.navbar__logo {
    margin-right: auto;
    width: 210px;
    height: 68px;
}