@use "../scss/variables.scss" as * ;

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: $color-primary;
    font-weight: 500;
    padding: 0 2rem;
    padding-top: 45px;

    &__logo {
        margin-right: auto;
        width: 210px;
        height: 68px;
    }

     & a {
        text-decoration: none;
        color: $color-primary;
    }
         a:hover {
        text-decoration: underline;
        }
    }
   

