$color-primary: #FF6060;
$color-secondary: #863535;
$color-tertiary: white;
$background-dark: rgba(0, 0, 0, 0.119);
$background-light: #f6f6f6;
$grid-background-light: white;
$footer-background: black;
$background-badge: #C4C4C4;