@use "../scss/variables.scss" as *;

.footer {
    background-color: $footer-background;
    color: $color-tertiary;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;

    &__container {
        padding-top: 66px;
    }

    &__text {
        padding-top: 29px;
    }

    &__logo {
        width: 122px;
        height: 39px;
    }
    
}




